*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", serif;
}
header{
    background-color: #F3D7B7;
    height: 800px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head_nav{
    display: flex;
    justify-content: flex-end ;
    gap: 50px;
    margin: 30px;
}
.col{
    text-align: center;
    font-size: 55px;
    margin-top: 150px;
}
a{
    color: #333333;
}
.box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}
.pho{
    position: relative;
    z-index: 100000000000000;
    top: -600px;
    left: 100px;
    transform: rotate(-40deg);
    animation: 10s linear 0s normal none 1 running rot;
      }
      @keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
}
button{
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 1px #0A775F;
    background-color: #0A775F;
    width: 130px;
    height: 51px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
}
.a{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
}
.b{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 64px;
}
.bor{
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 50px;
}
.rasm:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.no{
    margin-top: 65px;
}
.ber{
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 50px;
}
.yes2{
    margin-top: 65px;
}
.fot{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.zae{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.qwerty{
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
}
footer{
    background-color:  #F3D7B7;
    padding: 20px;
}